@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-bar {
  z-index: 1;
  position: fixed;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 5rem;
  background-color: rgba(37, 38, 46, 0.941);
  border-radius: 1rem;
  border: 1px rgba(71, 72, 86, 0.5) solid;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-effect {
  font-size: 1.75rem;
  font-weight: 800;
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

.page-title {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.nav-list > * {
  list-style-type: none;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 300;
  box-shadow: inset 0 0 0 0 #23a6d5;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-list > *:hover {
  box-shadow: inset 100px 0 0 0 #e73c7e;
  color: white;
  cursor: pointer;
}

a {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: white;
}

.social-links {
  width: 15rem;
  margin-right: 1.75rem;
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.icon-list > * {
  margin: 1rem;
}

.social-icon:hover {
  animation: bounce 0.85s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-section {
  margin: 0;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.hero-title {
  position: relative;
  left: 6rem;
  width: 50vw;
  color: white;
  font-size: 3.5rem;
  line-height: 3.65rem;
  margin: 0;
}

.hero-effect {
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50vw;
  height: 100%;
  line-height: 5px;
}

.toggle-text {
  position: relative;
  right: 5rem;
  font-weight: 200;
  color: lightgray;
  font-size: 14px;
  margin: 0px;
  box-shadow: 0px 0px 200px 40px rgb(175, 175, 175);
  background-color: rgba(175, 175, 175, 0.175);
}

.toggle-container {
  padding-top: 0px;
  position: relative;
  right: 6rem;
}

input[type=checkbox] {
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2.3px;
  left: 5px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

@media (max-width: 1600px) {
  .hero-section {
    margin: 0;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
  }
  .hero-title {
    position: relative;
    left: 7rem;
    top: 2rem;
    width: 50vw;
    color: white;
    font-size: 3.5rem;
    line-height: 3.65rem;
    margin: 0;
  }
  /* … */
}
.about-me {
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.aboutme-header {
  color: lightgray;
  position: relative;
  left: 6rem;
  margin-top: 0px;
  margin-bottom: 5rem;
  font-weight: 300;
}

.aboutme-header:before {
  content: "";
  position: absolute;
  width: 6%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid lightgray;
}

.aboutme-description {
  width: 60%;
  color: lightgray;
  font-size: 0.8rem;
  position: relative;
  left: 6rem;
  margin-bottom: 6rem;
}

.stack-header-container {
  position: relative;
  left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-header {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(-45deg, #df8e75, #d0628c, #53afd0, #53d0b3);
  background-size: 50% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.stack-description {
  color: lightgray;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

@media (max-width: 1600px) {
  .about-me {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .aboutme-header {
    color: lightgray;
    position: relative;
    left: 7rem;
    margin-top: 0px;
    margin-bottom: 5rem;
    font-weight: 300;
  }
  .aboutme-description {
    width: 60%;
    color: lightgray;
    font-size: 0.8rem;
    position: relative;
    left: 7rem;
    margin-bottom: 6rem;
  }
}
.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38vh;
  background-color: rgb(5, 8, 16);
  overflow: hidden;
}

.stack-row-one {
  display: flex;
  flex-direction: row;
  animation: slideAnimation 10s linear infinite;
}

.stack-row-two {
  display: flex;
  flex-direction: row;
  animation: slideAnimation2 10s linear infinite;
}

.section-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #171e2f;
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;
  margin: 10px;
}

@keyframes slideAnimation {
  0%, 100% {
    transform: translateX(20);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  75% {
    transform: translateX(-20);
  }
}
@keyframes slideAnimation2 {
  0%, 100% {
    transform: translateX(-20);
  }
  25% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-20%);
  }
  75% {
    transform: translateX(20);
  }
}
@media (max-width: 1600px) {
  .tech-stack {
    width: 100vw;
    height: 65vh;
    background-color: rgb(5, 8, 16);
    overflow: hidden;
  }
}
.project-section {
  height: 220vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.project-heading {
  position: relative;
  left: 4rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(-45deg, #df8e75, #d0628c, #53afd0, #53d0b3);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 1px;
}

.project-description {
  position: relative;
  left: 4rem;
  color: lightgray;
  font-size: 0.8rem;
  font-weight: 300;
}

.project-card {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33rem;
  width: 53rem;
  border-radius: 4rem;
  background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
  border: 0.1rem solid #20222e;
}

.project-number {
  position: absolute;
  bottom: 11.5rem;
  left: 14rem;
  font-size: 7rem;
  font-weight: 700;
  z-index: -1;
  background: -webkit-linear-gradient(-90deg, #ffffff, #b8b8b8, #0e0e0e, #000000);
  background-size: 10% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  position: relative;
  right: 4rem;
  bottom: 2rem;
  width: 20%;
}

.project-img {
  width: 22rem;
  height: 26rem;
  border-radius: 3rem;
  position: relative;
  right: 8rem;
}

.project-stack {
  color: lightgray;
  font-size: 0.75rem;
  font-weight: 300;
  transform: rotate(270deg);
  margin: 0%;
  position: relative;
  right: 6rem;
}

.project-title {
  font-size: 3rem;
  font-weight: 600;
}

.website-link {
  color: #d0628c;
}

.project-section {
  display: flex;
}

.cv-generator > img {
  right: 4rem;
}

.cv-generator > .project-info {
  right: 1rem;
}

@media (max-width: 1600px) {
  .project-section {
    height: 380vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .project-heading {
    position: relative;
    left: 7rem;
  }
  .project-description {
    position: relative;
    left: 7rem;
  }
}
footer {
  border-top: 1px solid #20222e;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-container {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  color: lightgray;
  width: 15rem;
}

.pre-logo-bottom {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

.logo-footer {
  font-size: 0.75rem;
  color: white;
  font-weight: 700;
}

.designed-by {
  font-size: 0.65rem;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.contact-me {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-title {
  position: relative;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(-45deg, #df8e75, #d0628c, #53afd0, #53d0b3);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 1px;
}

.contact-emoji {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.contact-subheading {
  position: relative;
  color: lightgray;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 3rem;
}

.resume-download-btn {
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid #53d0b3;
}

.resume-download-btn:hover {
  box-shadow: 0px 0px 25px 10px white;
}

@media (max-width: 1600px) {
  .contact-me {
    height: 60vh;
  }
}
.blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blog-header h2 {
  position: relative;
  left: 6rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(-45deg, #df8e75, #d0628c, #53afd0, #53d0b3);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 1px;
}

.blog-header p {
  position: relative;
  left: 6rem;
  color: lightgray;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8rem;
}

.blog-card {
  height: 470px;
  width: 405px;
  background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #20222e;
}

.blog-img-container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-heading {
  margin: 0px;
  margin-top: 15px;
}

.blog-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.overlay {
  position: absolute;
  border-radius: 3rem;
  width: 405px;
  height: 300px;
  background: linear-gradient(rgba(72, 0, 72, 0.8), rgba(192, 72, 72, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-description {
  width: 330px;
  font-weight: 200;
  color: lightgray;
  font-size: 14px;
}

.blog-info {
  display: flex;
  flex-direction: row;
  width: 350px;
  color: lightgray;
  font-size: 14px;
}

.blog-headshot {
  width: 40px;
  border-radius: 25px;
  margin: 10px;
}

@media (max-width: 1600px) {
  .blog-header h2 {
    position: relative;
    left: 7rem;
  }
  .blog-header p {
    position: relative;
    left: 7rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
