@import "./_color.scss";

.about-me {
  height: 45vh;
  display: flex;
  flex-direction: column;
}

.aboutme-header {
  color: $menu-font-color;
  position: relative;
  left: 10rem;
  margin-top: 0px;
  margin-bottom: 5rem;
  font-weight: 300;
}

.aboutme-header:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid $menu-font-color;
}

.aboutme-description {
  width: 60%;
  color: $menu-font-color;
  font-size: 2rem;
  position: relative;
  left: 10rem;
  margin-bottom: 6rem;
}

.stack-header-container {
  position: relative;
  left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-header {
  position: relative;
  left: 5.5rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    -45deg,
    #df8e75,
    #d0628c,
    #53afd0,
    #53d0b3
  );
  background-size: 50% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.stack-description {
  position: relative;
  left: 5.5rem;
  color: $menu-font-color;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

@media (max-width: 1600px) {
  .about-me {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .aboutme-header {
    color: $menu-font-color;
    position: relative;
    left: 10rem;
    margin-top: 0px;
    margin-bottom: 5rem;
    font-weight: 300;
  }

  .aboutme-description {
    width: 60%;
    color: $menu-font-color;
    font-size: 0.8rem;
    position: relative;
    left: 10rem;
    margin-bottom: 6rem;
  }
}

@media (max-width: 480px) {
  .about-me {
    height: 65vh;
  }

  .aboutme-header {
    left: 1rem;
  }

  .aboutme-description {
    width: 100%;
    margin-bottom: 60px;
    left: 1rem;
  }

  .stack-header {
    font-size: 2.4rem;
    left: -3rem;
  }

  .stack-description {
    margin-top: 0px;
    left: -3rem;
  }
}
