@import "./_color.scss";

.blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blog-header h2 {
  position: relative;
  left: 6rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    -45deg,
    #df8e75,
    #d0628c,
    #53afd0,
    #53d0b3
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 1px;
}

.blog-header p {
  position: relative;
  left: 6rem;
  color: $menu-font-color;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8rem;
}

.blog-card {
  height: 470px;
  width: 405px;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #20222e;
}

.blog-img-container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-heading {
  margin: 0px;
  margin-top: 15px;
}

.blog-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.overlay {
  position: absolute;
  border-radius: 3rem;
  width: 405px;
  height: 300px;
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-description {
  width: 330px;
  font-weight: 200;
  color: $menu-font-color;
  font-size: 14px;
}

.blog-info {
  display: flex;
  flex-direction: row;
  width: 350px;
  color: $menu-font-color;
  font-size: 14px;
}

.blog-headshot {
  width: 40px;
  border-radius: 25px;
  margin: 10px;
}

@media (max-width: 1600px) {
  .blog-header h2 {
    position: relative;
    left: 10rem;
  }

  .blog-header p {
    position: relative;
    left: 10rem;
  }
}

@media (max-width: 480px) {
  .blog-header h2 {
    left: 1rem;
  }

  .blog-header p {
    left: 1rem;
  }
}
