@import "./font";

.contact-me {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-title {
  position: relative;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    -45deg,
    #df8e75,
    #d0628c,
    #53afd0,
    #53d0b3
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 1px;
}

.contact-emoji {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.contact-subheading {
  position: relative;
  color: $menu-font-color;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 3rem;
}

.resume-download-btn {
  width: 8rem;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  border: 1px solid #53d0b3;
  font-size: 1rem;
}

.resume-download-btn:hover {
  box-shadow: 0px 0px 290px 1px white;
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  font-weight: 700;
}

@media (max-width: 1600px) {
  .contact-me {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .contact-title {
    position: relative;
    font-size: 2.2rem;
  }

  .contact-emoji {
    left: 0.15rem;
  }
}
