$banner-color: rgba(37, 38, 46, 0.941);
$banner-highlight-color: rgba(71, 72, 86, 0.5);
$list-hover-color: rgb(176, 176, 176);
$font-color: white;
$menu-font-color: lightgray;
$background-color: black;
