@import "./font.scss";

.hero-section {
  margin: 0;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-title {
  position: relative;
  left: 4rem;
  width: 50%;
  font-family: $primary-font-family;
  color: white;
  font-size: 3.5rem;
  line-height: 3.65rem;
  margin: 0;
}

.hero-effect {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

//add more detail to background
//add some item with animation to
