@import "./navbar.scss";
@import "./color.scss";
@import "./font.scss";
@import "./hero.scss";
@import "./_aboutme.scss";
@import "./_tech-stack";
@import "./projects";
@import "./footer";
@import "./contact.scss";

body {
  font-family: $primary-font-family;
  background-color: $background-color;
  color: $font-color;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
