@import "./font.scss";

$banner-color: #111;
$list-hover-color: rgb(155, 155, 155);

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: $banner-color;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.nav-list > * {
  font-family: $primary-font-family;
  list-style-type: none;
  margin: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.nav-list > *:hover {
  color: $list-hover-color;
  cursor: pointer;
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.icon-list > * {
  margin: 1rem;
}
